body {
  margin: 0;
  overflow: hidden;
}

.pageMaintenance {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    z-index: 1;
    font-family: Plus Jakarta Sans;
    font-size: 60px;
    font-weight: 500;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: center;
    color: #31374a;
    margin: 0;
    padding-top: 100px;
  }

  .status {
    display: none;
    z-index: 1;
    font-family: Plus Jakarta Sans;
    font-size: 60px;
    font-weight: 500;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: center;
    color: #31374a;
    margin: 0;
  }

  .moon-left {
    position: absolute;
    left: 0;
    top: 50%;
  }

  .moon-right {
    position: absolute;
    right: 0;
    top: 80px;
  }

  .ground {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .hoistingAndUfo {
    position: absolute;
    width: 1000px;
    height: 800px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    margin-left: 70px;
  }

  .hoisting-machine {
    position: absolute;
    top: 0;
    right: 0;
  }

  .wireAndBottle {
    position: absolute;
    width: 320px;
    top: 275px;
    left: 27px;
  }

  .wireAndUfo {
    width: 277px;
    position: relative;
    width: 277px;
  }

  .wire {
    display: block;
    position: absolute;
    left: 44px;
    z-index: 1;
  }

  .ufo {
    display: block;
    position: absolute;
    top: 55px;
    z-index: 1;
  }

  .ufo-light {
    display: block;
    position: absolute;
    top: 285px;
    z-index: 1;
    opacity: 0;
  }

  .bottle {
    position: absolute;
    z-index: 0;
    top: 300px;
    left: -20px;
  }

  .bottle-half {
    position: absolute;
    top: 347px;
    left: -20px;
    z-index: 2;
    object-fit: cover;
    object-position: bottom;
  }
}

@media screen and (max-width: 900px) {
  .pageMaintenance {
    .hoistingAndUfo {
      transform: translateX(-50%) scale(0.7);
      bottom: -40px;
      margin-left: 30px;
    }
  }
}

@media screen and (max-width: 600px) {
  .pageMaintenance {
    .title {
      padding-top: 200px;
    }

    .status {
      display: block;
      margin-top: 50px;
    }

    .hoistingAndUfo {
      display: none;
    }
  }
}
